
/*Elementos HTML*/

body{
   
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;                  
    font-size-adjust: initial;
    
    line-height: 112%;    
    color: #041A6B;    
}

input{
    display: block;
}

/*classes*/

/*containers e DIVs*/
.container{

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    width: 100%;    
    margin: 0em;
    padding: 0;
}

.container-fluid{
    margin: 0em;
    padding: 0;
}

#topo{
    background: linear-gradient(180deg, rgba(0, 87, 218, 0.75) -1.27%, rgba(163, 255, 238, 0.75) 102.44%);   
    width: 100%;
    height: 100%;
}



/*Menu*/

.menu ul{  
        padding:0px;
        margin:1%;        
        list-style:none; 
        text-align: right;
        color: #FFFFFF;
}

.menu ul li { display: inline; }

.menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    /* visual do link */    
    color:#FFFFFF;
    text-decoration: none;
    
}

.menu ul li a:hover {color:  #041A6B;}

.circulo_compartilhar {	
    display: inline-block;
    width: 4.0em;
    height: 4.0em;        
    background: #041A6B;
    border-radius: 50%;
    margin-top: 1%;
	overflow: hidden;		
	transition: 0.3s ease;
}

.circulo_compartilhar:hover{
	transform: rotateY(180deg);
}

/*Contagem Regressiva*/

.contagem{
    width:300px;
    height:70px;    
    }
    
    .numero
    {

    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;    
    width: 100%;
    height: 100%;
    font-size: 70%;
    margin: 5px;
    text-align: center; 
    padding: 10px;
    color: #ffffff;
    }
    
    .legenda{
    height: 25px;
    line-height: 10px;
    font-size:12px;
    color: #ffffff;
    text-align: center;
    }

/*Empresa*/

.boxEmpresa{
    background-color: #FFFFFF;
}
    #empresa{
        background-color: #041a6b;
        border-radius: 16px;
        padding-left: 20px;
        padding-top: 20px;
        margin: 10px;
        width: 370px;
        height: 400px;
        font-family: 'Poppins';
        font-style: normal;
    }
    h2{
        font-weight: bold;
        color: #041a6b;
        
        line-height: 96%;
        letter-spacing: -0.015em;
    }
    #empresa h3{
        font-weight: bold;
        color: #FFFFFF;
        
        line-height: 120%;
    }
    #empresa p{
        font-weight: 300;
        color: #FFFFFF;
        
        line-height: 178%;
    }



    /*MAIL CHIMP*/
    #mce-EMAIL{

        box-shadow: 0 0 0 0;
        border-bottom: 2px solid #041A6B;
        outline: 0;
        opacity: 0;
        
    }

    #mce-FNAME{

        box-shadow: 0 0 0 0;
        border-bottom: 2px solid #041A6B;        
        outline: 0;
        opacity: 0;

    }

    .button{
        background-color: #041A6B;
        border-style: none;
        border-radius: 55px;
        width: 178px;
        height: 58px;
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 16px;
      }