
/*Elementos HTML*/

body{
    background-color: #FFFFFF;   
    margin: 0;
    padding: 0;
}
.content h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;   
    text-align: left;          
    letter-spacing: -2px;
    font-size: 60px;
    line-height: 100%;    
    color: #041A6B;    
}
.content h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;    
    text-align: left;          
    font-size: 18px;
    line-height: 194%;    
    color: #041A6B;   
}
.content h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;    
    text-align: left;          
    font-size: 25px;
    line-height: 140%;    
    color: #041A6B;   
}
.content h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;    
    text-align: left;          
    font-size: 18px;
    line-height: 140%;    
    color: #041A6B;   
}
.content p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;    
    text-align: left;          
    font-size: 16px;
    line-height: 219%;    
    color: #041A6B;   
}

/*containers e DIVs*/
.principalBackground{
    background: linear-gradient(180deg, rgba(0, 87, 218, 0.75) -1.27%, rgba(163, 255, 238, 0.75) 102.44%);   
}
.principal{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}

/*Menu*/
.menu{
    text-align: right;
}

.menu ul{  
        padding:0px;
        margin:3%;        
        list-style:none; 
        color: #FFFFFF;
}

.menu ul li { display: inline; }

.menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    /* visual do link */    
    color:#FFFFFF;
    text-decoration: none;
    
}

.menu ul li a:hover {color:  #041A6B;}

/*Contagem Regressiva*/
.contagem{
    width:15vh;
    height:7vh;
       
    }
    
    .numero
    {
    display: inline-block;
    border: 2px solid #041A6B;
    box-sizing: border-box;
    border-radius: 10px;    
    width: 10vh;
    height: 11vh;
    font-size: 6vh;
    margin: 1vh;
    text-align: center; 
    padding: 1vh;
    color: #FFFFFF;
    }
    
    .legenda{
    display: inline-block;
    height: 1vh;    
    font-size:5vh;
    color: #041A6B;
    text-align: center;
    }

/*Form MailChimp*/

    #form{
        padding-bottom: 25px;
        padding-top: 25px;
    }

    #form-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .button{
        margin-top: 25px;
        background-color: #041A6B;
        border-style: none;
        border-radius: 55px;
        width: 24vh;
        height: 5vh;
        color: #FFFFFF;
        font-family: 'Poppins';
        font-size: 2vh;;
    }

    input[type=text], input[type=email] {
        background: transparent;
        border-top:none;
        border-left:none;
        border-right:none;
        border-bottom: 2px solid #041A6B;
        font-family: 'Poppins';
    } 

    ::-webkit-input-placeholder{
        color: #041A6B;
    }


/*Empresa*/
    #empresa-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-left: 25px;
        padding-right: 25px;
    }
    #empresa {
        background-color: #041a6b;
        border-radius: 16px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        margin: 10px;
        margin-bottom: 60px;
        width: 370px;
        height: 400px;
        font-family: 'Poppins';
        font-style: normal;
    }

    .empresa h1{
        font-weight: bold;
        color: #041a6b;        
        line-height: 96%;   
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 60px;
        margin-bottom: 30px;    
        background-color: #FFFFFF; 
    }

    #empresa h2{
        padding-top: 80px;
        font-weight: bold;
        color: #FFFFFF;      
        line-height: 120%;
    }
    #empresa p{
        font-weight: 300;
        color: #FFFFFF;       
        line-height: 178%;
    }

/*Rodape*/

    #rodape-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding-left: 25px;
        padding-right: 25px;
        background-color: #041a6b;
        height: 250px;
    }

    .rodape p{
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: normal;    
        text-align: center; 
        align-items: center;
        letter-spacing: -0.015em;                 
        color: #FFFFFF;   
    }

/*Inscricao*/
    .button-insc{
        margin-top: 25px;
        padding: 15px 32px;
        background-color: #041A6B;
        border-style: none;
        border-radius: 55px;
        color: #FFFFFF;
        font-family: 'Poppins';
        font-size: 20px;
    }

